doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property='og:title' content='Chocco')
  meta(property='og:description' content='The third project')
  meta(property='og:type' content='article')
  meta(property='og:url' content='https://echonok.github.io/loftschool-project3/')
  meta(property='og:image' content='./img/og-pic.png')
  block title
    title
  link(rel='stylesheet' href='./main.css')
  link(rel='shortcut icon' href='./img/og-pic.png')
  link(rel='icon' href='./img/og-pic.png')
header
